@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Staatliches:regular);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
#root {
  /* outline: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}
::selection {
  /* background: #f5f5f5; */
  background: rgba(255,255,255,0.0);
  color: #fc5c65;
}
nav {
  /* outline: 2px solid blue; */

  background-color: #ccc;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30rem;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: sticky;
}
.nav-wrapper {
  /* outline: 2px solid green; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  /* width: 100%; */
  max-width: 650px;
}
.nav-title {
  /* outline: 2px solid green; */

  width: 100%;
  font-family: 'Staatliches', monospace;
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
  padding: 1rem;
  /* text-shadow: 0 0 1rem #000; */
  text-align: center;
}
.search-bar {
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1.5rem;
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
  margin-top: 1rem;

  width: 90%;
  transition: all 0.3s ease-in-out;
  /* font-family: 'Staatliches', monospace; */
}
.image-author {
  /* outline: 2px solid red; */

  position: absolute;
  bottom: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 1rem #000;
  padding: .5rem;
  font-size: .5rem;
}
::placeholder {
  color: rgba(255, 255, 255, 0.5);
  /* font-family: 'Staatliches', monospace; */
}
p > a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
p > a:hover {
  color: #fff;
}

.home {
  /* outline: 2px solid orange; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding-bottom: 5rem;
}
.home > h1 {
  align-self: flex-start;
  width: max-content;
  margin: 1rem;
  font-family: 'Staatliches', monospace;
}
.card-container {
  /* outline: 2px solid red; */
  width: 100%;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  /* margin-top: 1rem; */
  gap: 5rem 2rem;
}
.card {
  /* outline: 2px solid red; */

  display: flex;
  flex-direction: column;

  /* background-color: #fff; */
  border-radius: 4px;
  border: 1px solid #ccc;
  /* box-shadow: 0 0 1rem #000; */
  /* transition: all 0.3s ease-in-out; */

  width: 400px;
  height: 300px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
span {
  position: relative;
  display: flex;
  cursor: pointer;
}
.info-container {
  /* outline: 2px solid red; */
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;

  cursor: pointer;
  text-decoration: none;

  border-radius: 4px;

  background-color: rgba(0, 0, 0, 0.5);

  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 1rem #000;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
}

/* .card:hover + .info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff; 
}*/

@media screen and (max-width: 850px) {
  .nav {
    height: auto;
    padding: 100px 0;
  }
  .nav-title {
    font-size: 3rem;
    padding: 0
  }
  .search-bar {
    padding: 0.8rem;
    width: 100%;
    font-size: .8rem;
  }
  .card-container {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }
  .image-author {
    font-size: .75rem;
  }
  .card {
    border-radius: 0;
    border: none;
    box-shadow: none;
    width: 100%;
    /* outline: 1px solid red; */
  }
  .info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 0;
  }
  .home > h1 {
    align-self: center;
    margin: 1rem 0 0 0;
  }
}